@{
    ViewBag.Title = "The Social Network";
}

<br>
<div class="jumbotron">
    <h1>FatLife</h1>
    <p class="lead">
        FatLife is a social network where thousands of Foodies share their experiences with the goal of contributing to the development of an authentic and impartial gastronomic community
        where the user evaluates dishes and establishments and guides the next on everything that happens in the gastronomic world.
    </p>
    <hr />
    <div class="text-center">
        <p>Start now by connecting with various food enthusiasts!</p>
        <a class="btn btn-primary btn-lgr" href="https://fatlifesite.azurewebsites.net/Account/Register" role="button">Register</a>
    </div>

</div>
